@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>hey there , we are the scorpions never felt much better to build chirs's shoe cart. . .! On your mark Get ...&nbsp; Set ... Go ...<br></p>
